.all-movies2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto;
}
.one-movie2{
    width: 300px;
    color: #e5e5e5;
    box-shadow: 0px  0px 20px black;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s linear;
}
.one-movie2:hover{
    transform: scale(1.04);
}
.one-movie2 img{
    height: 170px;
}
.one-movie2 h2, .one-movie p {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button-box{
    display: flex;
    flex-direction: colum;
    justify-content: center;
}