.one-movie{
    width: 290px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 15px #e50914;
}   
.one-movie img{
    width: 283px;
    height: 160px;
}
.one-movie button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #e50914;
    cursor: pointer;
}